.page-template-template-layout-portfolio {
  .x-breadcrumb-wrap {
    display: none;
  }
  .x-main.full {
    width: 94%!important;
    margin: 0 auto 40px auto;

    article {
      .entry-thumb {
          &:nth-of-type(5n+1) {
            border-top: 4px solid  $grey;
          }
          &:nth-of-type(5n+2) {
            border-top: 4px solid  $grey;
          }
          &:nth-of-type(5n+3) {
            border-top: 4px solid $grey;
          }
          &:nth-of-type(5n+4) {
            border-top: 4px solid  $grey;
          }
          &:nth-of-type(5n+5) {
            border-top: 4px solid  $grey;
          }
        &:hover {
          background-color: $grey;
        }
        &:before {
          background-color: $blue!important;
        }
      }
    }

    .entry-wrap.cf {
      padding: 20px;
    }

    h2,a {
      font-weight: 900!important;
      font-size: 1.6rem!important;
      color: $grey!important;
    }
  }
}

.single-x-portfolio {

  article {
    border: 1px solid $lightgrey;
    padding: 40px;

    @include breakpoint(medium) {
      padding: 10px;
      text-align: center;
    }
    &:after {
      content:'';
      clear: both;
      display: table;
    }
  }
  .entry-featured {
    width: 45%;
    float: left;
    position: relative;
    margin-right: 2%;

    @include breakpoint(medium) {
      width: 100%;
      float: none;
      margin: 0 auto 40px auto;
    }
  }
  .entry-wrap.cf {
    padding: 0 10px 0 20px;
    width: 53%;
    float: left;
    position: relative;
    box-shadow: none;

    @include breakpoint(medium) {
      width: 100%;
      float: none;
      margin: 0 auto;
    }
  }

  .entry-info {
    width: 100%;
    float: none;
  }

  .entry-extra {
    float: none;
    width: 100%;
    text-align: center;
    .x-btn {
      width: 50%!important;
      margin: 30px auto 0 auto;

      @include breakpoint (small) {
        width: 100%!important;
      }
    }

    .x-entry-share {
      border: 0!important;
    }
  }

  .h-extra.launch {
    font-size: 1.2rem!important;
    margin-top: 20px;
    display: none;
  }

  .x-share-options {
    p {
      color: $grey!important;
      border-bottom: 1px dotted $medgrey;
      margin-bottom: 2px;
    }

    .x-share {
      color: $blue!important;
      margin: 0 auto;
      transition: all 1s ease-in-out;
      font-size: 40px;

      &:hover {
        background-color: transparent;
        transform: rotate(360deg);
      }
    }
  }
}